.kalk-suma {
  /*float: right;
  max-width: 320px;*/
  margin-top: 30px;
}

.kalk-suma .cf7_text_label {
  color: #000;
  font-size: 18px;
}

.kalk-suma input[type=text] {
  border: 0;
  padding-left: 0;
  color: #d42027;
  font-size: 32px;
}

.kalk-opis {
  background-color: #fff;
  border-top: solid 2px var(--vamtam-default-line-color);
  border-bottom: solid 2px var(--vamtam-default-line-color);
  margin: 10px 0;
}

.kalk-opis .kalk-icon {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-right: solid 2px var(--vamtam-default-line-color);
}

.kalk-opis .kalk-icon .wpcf7-form-control-wrap {
  margin-right: 20px;
}

.kalk-opis .kalk-icon .kalk_nazwa_prod {
  display: block;
  font-weight: 100 !important;
  font: var(--vamtam-primary-font-font-weight) var(--vamtam-primary-font-font-style) var(--vamtam-primary-font-font-size)/var(--vamtam-primary-font-line-height) var(--vamtam-primary-font-font-family);
}

.kalk-opis .kalk-icon h4 {
  margin-left: 20px;
}

.kalk-opis .wpcf7-list-item-label::before {
  background-color: #fff !important;
  width: 22px !important;
  height: 22px !important;
}

.kalk-opis .wpcf7-list-item-label::after {
  font-size: 20px !important;
}

.kalk-opis .col-md-9 .cf7-text {
  padding: 20px 10px 10px;
}

.kalk-opis .col-md-9 .cf7-text p {
  font-size: 12px;
}

.pp-table-content {
  box-shadow: 0 0 15px #ddd;
  font-size: 12px;
  color: #aaa;
  border-bottom: 2px solid var(--vamtam-accent-color-1);
  margin-bottom: 0;
}

.pp-table-content th:first-child {
  padding-left: 10px;
}

.pp-table-content tr.pp-table-row {
  border: none;
}

.pp-table-content tr.pp-table-row td,
.pp-table-content th {
  padding: 2px 10px;
}

.pp-table-content th {
  border-bottom: 1px solid #ddd;
}

.main-container .kalk-icon img {
  width: 65px;
}

.main-container input[type=number] {
  background-color: #fff !important;
}

.kalk-dane {
  background-color: #f8f8f8;
  padding-top: 10px;
  margin-left: 0px;
  margin-right: 0;
  border-bottom: 2px solid var(--vamtam-accent-color-1);
  box-shadow: 5px 5px 5px #ddd;
}

.kalk-dane h4 {
  font-size: 16px;
}

.kalk-dane p {
  font-size: 12px;
}

.pp-table-content td.kwota span {
  font-size: 20px;
  color: var(--vamtam-accent-color-1);
  line-height: 16px;
}

#podsuma-zysk {
  float: right;
  background-color: var(--vamtam-accent-color-1);
  color: #fff;
  padding: 10px 40px 30px;
  text-align: center;
  box-shadow: 0 0 15px #ddd;
  position: relative;
}

#podsuma-zysk h4 {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
}

#podsuma-zysk p {
  font-size: 14px;
  color: #fff;
}

#podsuma-zysk p span {
  font-size: 32px;
}

#podsuma-zysk a {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  color: var(--vamtam-accent-color-1);
  padding: 5px 0;
  width: 100%;
  bottom: 3px;
  left: 0;
}