#main .wpcf7-form .cf7-submit-button input.wpcf7-submit { 
  padding-left: 40px;
  padding-right: 40px;
  width: auto;
  min-width: 170px;
}

div.wpcf7 .cf7-submit-button .ajax-loader {
  position: absolute;
  top: 15px;
  left: 0px;
}
